.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  

.navbar #title{
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}


.landing{
  background: url('assets/img/bg-img.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
font-size: 20px;
text-shadow:0 0 10px white;
font-weight: bold;
}


.section h4{

  text-align: center;
}

.custom{
height: 150px;
width: 280px;

}


h5{
  font-size: medium;
}
h6{
  color: beige;
}
small{
  color: whitesmoke;
}
